body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.body__wrappe {
  max-width: 1400px;
  width: 1400px;
}

// Header

header {
  padding: 2em;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
.header__image {
  display: flex;
  justify-content: center;
}

// General
h1 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 47px;
  text-align: center;
  color: #d04f4f;
}

h2 {
  font-size: 20px;
  font-family: Lato;
  font-weight: 500;
}

p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgb(0, 0, 0);
  overflow-y: hidden;
}

ul {
  padding: 0;
}

li {
  font-size: 14px;
  list-style: none;
}

input:focus {
  outline: none;
}

.fas {
  font-size: 20px;
  color: white;
}

// Section Search bar

.search-bar:focus {
  outline: none;
  border: none;
}

input::placeholder {
  color: #fff;
  font-size: 22px;
}

main {
  height: 100vh;
}

.container__form {
  width: 100%;
  height: auto;
  &--input {
    display: flex;
    background: #e7e7e7;
    border-radius: 5px;
  }
  input {
    padding: 2em;
    border: none;
    background: none !important;
  }

  img {
    margin: 25px;
  }

  &--select {
    min-height: 200px;
    padding-top: 2em;
    padding-bottom: 2em;
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    .ingredients,
    .appliances,
    .ustencils {
      margin-right: 30px;
      padding: 1em 2em;
      border-radius: 5px;
      input {
        background: none;
        border: none;
        padding: 1em 0;
      }
    }
    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      //display: none;
      li {
        width: 33%;
        color: #fff;
        cursor: pointer;
        &:hover {
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
  }
}

.ingredients {
  background: #3282f7;
  width: auto;
  max-width: 50%;
  height: auto;
  position: absolute;
  z-index: 1;
}
.appliances {
  background: #68d9a4;
  width: auto;
  max-width: 50%;
  height: auto;
  position: absolute;
  z-index: 1;
  left: 30%;
}
.ustencils {
  background: #ed6454;
  width: auto;
  max-width: 50%;
  height: auto;
  position: absolute;
  left: 60%;
  z-index: 1;
}

/* SECTION CONTENT */

.section__results {
  display: flex;
  justify-content: center;
  &--wrappe {
    max-width: 1400px;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card {
      min-width: 32%;
      width: 320px;
      max-width: 100%;
      min-height: 400px;
      height: auto;
      border-radius: 5px;
      margin-bottom: 20px;
      .card-head {
        height: 50%;
        background: #c7bebe;
      }
      .card-content {
        min-height: 50%;
        background: #e7e7e7;
        padding: 16px;
        height: 50%;
        background: #e7e7e7;
        padding: 10px;
        .title {
          display: flex;
          justify-content: space-between;
        }
        .content-description {
          display: flex;
          justify-content: space-between;
          ul,
          .description {
            width: 50%;
            padding: 0;
          }
        }
      }
    }
  }
}

// Footer

footer {
  display: flex;
  justify-content: center;
}
