body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.body__wrappe {
  max-width: 1400px;
  width: 1400px;
}

header {
  padding: 2em;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
.header__image {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 47px;
  text-align: center;
  color: #d04f4f;
}

h2 {
  font-size: 20px;
  font-family: Lato;
  font-weight: 500;
}

p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: black;
  overflow-y: hidden;
}

ul {
  padding: 0;
}

li {
  font-size: 14px;
  list-style: none;
}

input:focus {
  outline: none;
}

.fas {
  font-size: 20px;
  color: white;
}

.search-bar:focus {
  outline: none;
  border: none;
}

input::placeholder {
  color: #fff;
  font-size: 22px;
}

main {
  height: 100vh;
}

.container__form {
  width: 100%;
  height: auto;
}
.container__form--input {
  display: flex;
  background: #e7e7e7;
  border-radius: 5px;
}
.container__form input {
  padding: 2em;
  border: none;
  background: none !important;
}
.container__form img {
  margin: 25px;
}
.container__form--select {
  min-height: 200px;
  padding-top: 2em;
  padding-bottom: 2em;
  max-width: 1200px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.container__form--select .ingredients,
.container__form--select .appliances,
.container__form--select .ustencils {
  margin-right: 30px;
  padding: 1em 2em;
  border-radius: 5px;
}
.container__form--select .ingredients input,
.container__form--select .appliances input,
.container__form--select .ustencils input {
  background: none;
  border: none;
  padding: 1em 0;
}
.container__form--select ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container__form--select ul li {
  width: 33%;
  color: #fff;
  cursor: pointer;
}
.container__form--select ul li:hover {
  font-size: 15px;
  font-weight: bold;
}

.ingredients {
  background: #3282f7;
  width: auto;
  max-width: 50%;
  height: auto;
  position: absolute;
  z-index: 1;
}

.appliances {
  background: #68d9a4;
  width: auto;
  max-width: 50%;
  height: auto;
  position: absolute;
  z-index: 1;
  left: 30%;
}

.ustencils {
  background: #ed6454;
  width: auto;
  max-width: 50%;
  height: auto;
  position: absolute;
  left: 60%;
  z-index: 1;
}

/* SECTION CONTENT */
.section__results {
  display: flex;
  justify-content: center;
}
.section__results--wrappe {
  max-width: 1400px;
  width: 1400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section__results--wrappe .card {
  min-width: 32%;
  width: 320px;
  max-width: 100%;
  min-height: 400px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}
.section__results--wrappe .card .card-head {
  height: 50%;
  background: #c7bebe;
}
.section__results--wrappe .card .card-content {
  min-height: 50%;
  background: #e7e7e7;
  padding: 16px;
  height: 50%;
  background: #e7e7e7;
  padding: 10px;
}
.section__results--wrappe .card .card-content .title {
  display: flex;
  justify-content: space-between;
}
.section__results--wrappe .card .card-content .content-description {
  display: flex;
  justify-content: space-between;
}
.section__results--wrappe .card .card-content .content-description ul,
.section__results--wrappe .card .card-content .content-description .description {
  width: 50%;
  padding: 0;
}

footer {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
